.products:hover {
  background: grey;
}
.countries:hover {
  background: grey;
}
.aboutus:hover {
  background: grey;
}
.checkout:hover {
  background: grey;
}

.me-auto {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.nav-pages {
  display: flex;
}
