.products:hover {
    background: grey;
}

.countries:hover {
    background: grey;
}

.aboutus:hover {
    background: grey;
}

.checkout:hover {
    background: grey;
}

.checkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-pages {
    display: flex;
}